body{
    background-color: #bdc3c7;
}
.h1{
    background-color: yellow;
    color: black;
    text-align: center;
    font-weight: bold;
}
.row{
    
    width: 100%;
}
.col_1{
    width: ;
    border-left : green 2px solid  ;
    padding-left: 15px;
    
}
.top{
    vertical-align: text-top;
    width: 16%;

}
.left{
    vertical-align: top;
    float: right;
    border: green 2px dashed;
    padding: 5px;
}

footer a{
    margin: 20px;
    padding: 5px;
    background-color: aqua;
    color: rgb(108, 160, 11);
  }